body {
    background-image: url("https://i.ytimg.com/vi/A_oOFyOMe9Q/maxresdefault.jpg");
    color: ghostwhite;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.banner {
    background-image: url("https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/28276487_169895920304209_2848330180108505752_n.jpg?_nc_cat=0&oh=3121e99877ee5b4cbd552e9342e2fcf3&oe=5BABA5B5");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.character img {
    width: 150px;
    height: 220px;
    border: 5px solid black;
    margin: 10px;
    padding: 5%;
}

.reset-btn {
    display: none;
}



